name: Deploy to PROD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build -t myapp:prod ./app

      - uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker stop myapp-prod || true
            docker rm myapp-prod || true
            docker run -d \
              --name myapp-prod \
              --env-file /home/ubuntu/.env.prod \
              -p 3000:3000 \
              myapp:prod
